<div class="bg-lighter pt-5 pb-5 mb-5">
    <div class="container">
        <div class="heading text-center mb-4">
            <h2 class="title">Recent Arrivals</h2>
            <!-- End .title -->
            <p class="title-desc">Aliquam tincidunt mauris eurisus</p>
            <!-- End .title-desc -->
        </div><!-- End .heading -->

        <div class="owl-carousel owl-simple owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                &quot;nav&quot;: false, 
                &quot;dots&quot;: true,
                &quot;margin&quot;: 20,
                &quot;loop&quot;: false,
                &quot;responsive&quot;: {
                    &quot;0&quot;: {
                        &quot;items&quot;:2
                    },
                    &quot;480&quot;: {
                        &quot;items&quot;:2
                    },
                    &quot;768&quot;: {
                        &quot;items&quot;:3
                    },
                    &quot;992&quot;: {
                        &quot;items&quot;:4
                    },
                    &quot;1200&quot;: {
                        &quot;items&quot;:4,
                        &quot;nav&quot;: true
                    }
                }
            }">
            <!-- End .product -->

            <!-- End .product -->

            <!-- End .product -->

            <!-- End .product -->

            <!-- End .product -->

            <!-- End .product -->
            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1782px;">
                     <div class="owl-item active" style="width: 277px; margin-right: 20px;">
                        <app-product category="Clothing" subCategory="Linen-blend dress">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-12/products/product-1.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="assets/images/demos/demo-12/products/product-1-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                        title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare"
                                        title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#" ></a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html"></a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $60.00
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color
                                            name</span></a>
                                    <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div>
                    </app-product>
                    </div>
            
                    <div class="owl-item active" style="width: 277px; margin-right: 20px;">
                        <div class="product product-4">
                            <figure class="product-media">
                                <span class="product-label label-primary">Sale</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-12/products/product-2.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="assets/images/demos/demo-12/products/product-2-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                        title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare"
                                        title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shoes</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Sandals with lacing</a></h3>
                                <!-- End .product-title -->

                                <div class="product-price">
                                    <span class="new-price">Now $70.00</span>
                                    <span class="old-price">Was $84.00</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 277px; margin-right: 20px;">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-12/products/product-3.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="assets/images/demos/demo-12/products/product-3-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                        title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare"
                                        title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Paper bag trousers</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $60.00
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #9fac76;"><span class="sr-only">Color
                                            name</span></a>
                                    <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 277px; margin-right: 20px;">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-12/products/product-4.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="assets/images/demos/demo-12/products/product-4-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                        title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare"
                                        title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Handbags</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Bucket bag</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $350.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>
                    </div>
                    <div class="owl-item" style="width: 277px; margin-right: 20px;">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-12/products/product-5.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="assets/images/demos/demo-12/products/product-5-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                        title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare"
                                        title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Silk-blend kaftan</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $370.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>
                    </div>
                    <div class="owl-item" style="width: 277px; margin-right: 20px;">
                        <div class="product product-4">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-12/products/product-6.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="assets/images/demos/demo-12/products/product-6-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                        title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare"
                                        title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Sandals</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Spring Sandals</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $59.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i
                        class="icon-angle-left"></i></button><button type="button" role="presentation"
                    class="owl-next"><i class="icon-angle-right"></i></button></div>
            <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                    role="button" class="owl-dot"><span></span></button></div>
        </div><!-- End .owl-carousel -->
    </div><!-- End .container -->
</div>