<div class="toolbox">
    <div class="toolbox-left">
        <div class="toolbox-info">
            Showing <span>9 of {{ (productList | async)?.length }}</span> Products
        </div><!-- End .toolbox-info -->
    </div><!-- End .toolbox-left -->

    <div class="toolbox-right">
        <div class="toolbox-sort">
            <label for="sortby">Sort by:</label>
            <div class="select-custom">
                <select name="sortby" id="sortby" class="form-control">
                    <option value="popularity" selected="selected">Most Popular</option>
                    <option value="rating">Most Rated</option>
                    <option value="date">Date</option>
                </select>
            </div>
        </div><!-- End .toolbox-sort -->
        <div class="toolbox-layout">
            <a routerLink="/product-list-row" routerLinkActive="active" class="btn-layout">
                <svg width="16" height="10">
                    <rect x="0" y="0" width="4" height="4"></rect>
                    <rect x="6" y="0" width="10" height="4"></rect>
                    <rect x="0" y="6" width="4" height="4"></rect>
                    <rect x="6" y="6" width="10" height="4"></rect>
                </svg>
            </a>

            <a routerLink="/product-listing" routerLinkActive="active" class="btn-layout">
                <svg width="10" height="10">
                    <rect x="0" y="0" width="4" height="4"></rect>
                    <rect x="6" y="0" width="4" height="4"></rect>
                    <rect x="0" y="6" width="4" height="4"></rect>
                    <rect x="6" y="6" width="4" height="4"></rect>
                </svg>
            </a>

            <a routerLink="/product-listing-grid3" routerLinkActive="active" class="btn-layout">
                <svg width="16" height="10">
                    <rect x="0" y="0" width="4" height="4"></rect>
                    <rect x="6" y="0" width="4" height="4"></rect>
                    <rect x="12" y="0" width="4" height="4"></rect>
                    <rect x="0" y="6" width="4" height="4"></rect>
                    <rect x="6" y="6" width="4" height="4"></rect>
                    <rect x="12" y="6" width="4" height="4"></rect>
                </svg>
            </a>

            <a routerLink="/product-listing-grid4" routerLinkActive="active" class="btn-layout">
                <svg width="22" height="10">
                    <rect x="0" y="0" width="4" height="4"></rect>
                    <rect x="6" y="0" width="4" height="4"></rect>
                    <rect x="12" y="0" width="4" height="4"></rect>
                    <rect x="18" y="0" width="4" height="4"></rect>
                    <rect x="0" y="6" width="4" height="4"></rect>
                    <rect x="6" y="6" width="4" height="4"></rect>
                    <rect x="12" y="6" width="4" height="4"></rect>
                    <rect x="18" y="6" width="4" height="4"></rect>
                </svg>
            </a>
        </div><!-- End .toolbox-layout -->
    </div><!-- End .toolbox-right -->
</div>