
<div>
    
        <div class="input-group  input-spinner">
            <div class="input-group-prepend">
                <button style="min-width: 26px" (click)="dec()" class="btn btn-decrement btn-spinner" type="button"><i
                        class="icon-minus"></i>
                </button>
            </div>
            <input type="text" [value]="value"  style="text-align: center" class="form-control " required="" placeholder="">
            <div class="input-group-append">
                <button style="min-width: 26px" (click)="inc()" class="btn btn-increment btn-spinner" type="button"><i
                        class="icon-plus"></i>
                </button>
              
            </div>
        </div>
  
</div>