<div class="product product-4"  *ngFor="let item of product">
    <figure class="product-media">
        <span *ngIf="item.label"
        [class]="getLabelColor(item.label)"
        >{{item.label}}</span>
        <a href="product.html">
            <img [src]='item.img[0]' alt="Product image" class="product-image">
            <img [src]='item.img[1]' alt="Product image" class="product-image-hover">
        </a>

        <div class="product-action-vertical">
            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
        </div><!-- End .product-action -->

        <div class="product-action">
            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
        </div><!-- End .product-action -->
    </figure><!-- End .product-media -->

    <div class="product-body">
        <div class="product-cat">
            <a href="#">{{item.category }}</a>
        </div><!-- End .product-cat -->
        <h3 class="product-title"><a href="product.html">{{ item.subCategory }}</a></h3><!-- End .product-title -->
        <div class="product-price">
           <span *ngIf="item.label !=='sale'">{{ item.price | currency}}</span>
           <span *ngIf="item.label=='sale'" class="new-price">Now {{ item.price | currency}}</span>
           <span *ngIf="item.label=='sale'" class="old-price">Was {{ item.oldPrice | currency}}</span>
        </div><!-- End .product-price -->
        <div class="product-nav product-nav-dots" *ngIf="item.color">
            <a href="#" *ngFor="let color of item.color;let index=index" class="" [style]='getColor(item,index)'><span class="sr-only">Color name</span></a>
        </div><!-- End .product-nav -->
    </div><!-- End .product-body -->
</div>