<div class="product product-4">
    <figure class="product-media">
        <a href="product.html">
            <img src="../../../../assets/images/demos/demo-12/products/product-1.jpg" alt="Product image" class="product-image">
            <img src="../../../../assets/images/demos/demo-12/products/product-1-2.jpg" alt="Product image" class="product-image-hover">
        </a>

        <div class="product-action-vertical">
            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
        </div><!-- End .product-action -->

        <div class="product-action">
            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
        </div><!-- End .product-action -->
    </figure><!-- End .product-media -->

    <div class="product-body">
        <div class="product-cat">
            <a href="#">{{ category }}</a>
        </div><!-- End .product-cat -->
        <h3 class="product-title"><a href="product.html">{{ subCategory }}</a></h3><!-- End .product-title -->
        <div class="product-price">
            $60.00
        </div><!-- End .product-price -->
        <div class="product-nav product-nav-dots">
            <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
            <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
        </div><!-- End .product-nav -->
    </div><!-- End .product-body -->
</div>