<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Grid 3 Columns<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">

                     <!-- End .toolbox -->
                    <app-product-list-toolbox></app-product-list-toolbox>
                    <!-- End .toolbox -->

                    <div class="products mb-3">
                        <div class="row justify-content-center">
                            <div class="col-6 col-md-4 col-lg-4" *ngFor="let data of productListGrid3 | paginate: { itemsPerPage: 6, currentPage: p }">
                                <div class="product product-4">
                                <app-product [data]="data" [setClass]="setClass" [hidden]="visible"
                                [imagesrc]="data.imageSrc[0]"></app-product><!-- End .product -->
                            </div>
                        </div><!-- End .col-sm-6 col-lg-4 -->



                        </div><!-- End .row -->
                    </div><!-- End .products -->
                   
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                           <pagination-controls 
                           class="page-item item link pagination previous next content-previous" 
                            (pageChange)="p = $event"
                             [responsive]='responsive'
                            previousLabel="Prev"
                            nextLabel="Next"
                            
                            >
                           </pagination-controls>
                       
                        </ul>
                    </nav>
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3 order-lg-first">
                    <app-filters></app-filters>
                   
                    <!-- End .sidebar sidebar-shop -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main>
