<div class="banner banner-display banner-link-anim" [ngClass]="{'banner-title-hidden':!subTitle}">
    <a href="#">
        <img [src]='imageSrc' [alt]="altText">
    </a>

    <div class="banner-content banner-content-center">
        <h3 class="banner-title text-white">
            <a href="#">{{ title }}</a>
        </h3>
        <!-- End .banner-title -->
        <h4 class="banner-subtitle text-white" *ngIf="subTitle"><a href="#">{{ subTitle }}</a></h4>
        <a href="#" class="btn btn-outline-white banner-link" *ngIf="showButton">{{ buttonText }}</a>
    </div><!-- End .banner-content -->
   
</div><!-- End .banner -->